$header-bg-color: steelblue;
$nav-bg-color: aliceblue;

body {
  height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 10fr; 
}
ul {
  margin-top: 0px;
  list-style-position: inside;
}
li {
  list-style: none;
}
button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
header {
  background-color: $header-bg-color;
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
  padding-top: 2%;
  padding-left: 4%;
  font-size: 4rem;
}
nav {
  padding: 5% 0 5% 5%;
  background-color: $nav-bg-color;
}
#home-title {
  padding-bottom: 5px;
  margin: 0px 20px 0px 20px;
  border-bottom: 1px solid black
}
#home-btn {
  font-size: 1rem;
}
#nav-projects-title {
  padding-bottom: 5px;
  margin: 0px 20px 0px 20px;
  font-size: 1rem;
  border-bottom: 1px solid black;
}
#nav-projects-parent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 0px;
}
#create-project-container {
  margin: 0px 20px 0px 20px;
  padding: 0px;
  border-bottom: 1px solid black;
}
#new-project-content {
  margin:10px 0px 10px 0px;
}
#new-project-form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#add-todo-title-input {
  grid-column: 1/2;
  grid-row: 1/2;
}
#project-form-remove-btn {
  grid-column: 2/3;
  grid-row: 1/2;
}
.nav-project {
  padding: 2px;
}
.new-todo-item {
  margin: 1px;
}
#add-todo-btn {
  background-color: steelblue;
  border-radius: 2px;
}
main {
  padding: 5%;
}
#main-content {
  display: grid;
  grid-template-columns: 1fr 25px;
  grid-template-rows: 100px 1fr 50px;
}
#home-content-title {
  grid-row: 1/2;
}

#add-task-btn {
  grid-column: 1/3;
  grid-row: 3/4;
  background-color: aliceblue;
  text-align: left;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
}
#project-module {
  align-self:flex-start;
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
}
#project-title, #home-content-title{
  color: aliceblue;
  padding: 35px 0px 35px 20px;
  margin-bottom: 15px;
  border-radius: 2px;
  background-color: steelblue;
}
#remove-project-btn {
  margin-bottom: 15px;
  grid-column: 2/3;
}
#task-container {
  grid-column: 1/2;
  grid-row: 2/3;
}
.todo-item {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 75px;
  grid-template-rows: 20px 1fr 20px;
}
#task-title {
  font-weight: bold;
  grid-column: 1/2;
  grid-row: 1/2;
}
#remove-task-btn {
  grid-column: 2/3;
  grid-row: 1/2;
}
#remove-task-btn:hover {
  background-color: white;
  border-radius: 5px;
}
#task-description {
  grid-column: 1/2;
  grid-row: 2/3;
}
#task-date {
  grid-column: 1/2;
  grid-row: 3/4;
}
.new-task-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5px;
  grid-template-rows: 20px 20px 20px 50px 20px 20px 40px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 5px;
}
#new-task-title {
  grid-column: 1/2;
}
#new-task-remove-btn {
  grid-column: 4/5;
}
#new-task-title-input {
  grid-column: 1/4;
  grid-row: 2/3
}
#new-task-description {
  grid-column: 1/2;
  grid-row: 3/4;
}
#new-task-description-input {
  grid-column: 1/4;
  grid-row: 4/5;
}
#new-task-date-title {
  grid-column: 1/2;
  grid-row: 5/6;
}
#new-task-date-input {
  grid-column: 1/4;
  grid-row: 6/7
}
#new-task-submit-btn {
  margin: 10px;
  grid-column: 2/3;
  grid-row: 7/8;
  background-color: steelblue;
  padding: 2px;
  border-radius: 2px;
}
.todo-item {
  margin-bottom: 2%;
  padding: 2%;
  border: 1px solid black;
}